@import '../../../sass/utils/mixins.scss';
@import '../../../sass/utils/variables.scss';
@import '../../../sass/utils/functions.scss';

.spinner {
  position: relative;
  @include flex-center;
  @include width-height(300px, 300px);
  font-size: 2rem;
  overflow: hidden;
  animation: text-color 2s ease-in-out infinite alternate;
}

.spinnerSector {
  position: absolute;
  @include width-height(100%, 100%);
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.spinnerSectorRed {
  border-top-color: lightcoral;
  animation: rotate 1.5s ease-in-out infinite;
}

.spinnerSectorBlue {
  border-left-color: lightblue;
  animation: rotate 2s ease-in infinite;
}

.spinnerSectorGreen {
  border-right-color: lightgreen;
  animation: rotate 2.5s ease-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-color {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  25% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: rgba(255, 255, 255, 0.1);
  }
}
